@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Catamaran';

.light-primary-color   { background: #BBDEFB; }
.accent-color          { color: #FF4081; }
.primary-text-color    { color: #212121; }

body{
   font-family: 'Catamaran', sans-serif;
}

input[type=text]{
   border-bottom: 1px solid #ff4081;
}
.input-field{
   label{
      color: #ff4081;
   }
   input:focus + label {
      color: #ff4081 !important;
    }
}

input[type=text]:focus:not([readonly]){
   border-bottom: 1px solid #ff4081;
   box-shadow: 0 1px 0 0 #ff4081;
}

:-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, ::-webkit-input-placeholder {
   color: #ff4081;
}

.title{
   font-size: 1.5em !important;
}
