<div class="container">
   <div class="row">
      <div class="col s12">
         <div class="input-field">
            <input id="search1" type="text" placeholder="Search" class="autocomplete" ng-model="search_query">
         </div>
      </div>
   </div>

   <div class="center"><a class="waves-effect waves-light btn modal-trigger blue darken-4" ng-click="show = !show">Add New Website</a></div>

   <div class="card" ng-show="show">
      <div class="card-content">
         <span class="card-title">Add a New Website</span>
         <form name="addwebsite" class="col s12">
            <div class="row">
               <div class="input-field col s12">
                  <input id="title" type="text" ng-model="site.title">
                  <label for="title">Title</label>
               </div>
               <div class="input-field col s12">
                  <input id="url" type="text" ng-model="site.url">
                  <label for="url">URL</label>
               </div>
               <div class="input-field col s12">
                  <input id="tag" type="text" ng-model="site.tag">
                  <label for="tag">Tag</label>
               </div>
               <div class="center">
                  <a class="waves-effect waves-light btn blue darken-4" ng-click="submitWebsite()" type="submit">Submit</a>
               </div>
            </div>
         </form>
      </div>
   </div>

   <h4 class="accent-color">All Websites {{count}}</h4>
   <div class="row">
      <ul class="collection">
         <li class="collection-item avatar" ng-repeat="website in newWebsites | filter: search_query">
            <img src="{{website.favicon_image}}" alt="" class="circle">
            <span class="title">{{website.title}}</span>
            <p>
               <i class="fa fa-tag" aria-hidden="true"></i> {{website.tag}} | <i class="fa fa-link" aria-hidden="true"></i> <a href="{{website.url_address}}" target="_blank">{{website.url_address}}</a>
               <br>
               <i ng-class="autoScroll ? 'fa fa-thumbs-up' : 'fa fa-thumbs-o-up'" class="{{website.id}}-id" ng-click="autoScroll = !autoScroll; likeWebsite(website.id, website.url_address)"></i> {{website.likes}}
            </p>
         </li>
      </ul>
   </div>
</div>
